@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

nav ul {
  @extend .list-group, .list-group-flush;

  li {
    @extend .list-group-item, .list-group-item-action, .d-flex, .justify-content-between, .align-items-center;

    p {
      @extend .link-opacity-75,
      .link-opacity-100-hover,
      .link-underline-opacity-0,
      .link-secondary,
      .user-select-none,
      .m-0;

      span {
        @extend .badge, .p-1, .me-2;
        color: inherit;
        $light: hsl(207, 22%, 90%); // darken light utility color
        background-color: $light;
        min-width: 2ch;
      }
    }
  }
}

section.to-do-page,
section.game-page {
  @extend .col-12, .col-sm-7, .col-lg-9, .bg-body-secondary, .overflow-y-scroll, .p-4;

  aside.message {
      @extend .d-flex, .justify-content-center;
      position: absolute;
      bottom: 0;

      div {
        @extend .text-center, .py-2, .px-3, .rounded-top;
  
        p {
          @extend .fs-5, .m-0;
        }
      }
    }
}

section.to-do-page {
  header {
    @extend .fs-2, .mb-3, .bg-success-subtle, .p-3, .d-flex, .justify-content-between;

    >div {
      @extend .d-flex, .gap-4, .align-items-center;
    }
  }

  article {
    @extend .d-flex, .justify-content-between, .p-2, .bg-light, .rounded, .mb-3;

    div {
      @extend .d-flex, .align-items-center, .gap-2;

      >* {
        @extend .m-0;
      }
    }

    input#completeCheck {
      @extend .form-check-input;
    }

    label[for="completeCheck"] {
      @extend .form-check-label;
    }


    dialog {
      position: absolute;
      left: calc(100vw - 300px - 1.5rem) !important;
      right: 1.5rem;
      width: 300px;
    }

    dialog.details button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  // color-coded priority border
  article.priority-high {
    border-left: 5px solid red;
  }

  article.priority-medium {
    border-left: 5px solid orange;
  }

  article.priority-low {
    border-left: 5px solid green;
  }

  // add to-do form
  form.to-do-form {
    div {
      @extend .d-flex, .align-items-center, .mb-3;
    }

    div:not(.priority-group) {
      @extend .gap-3;
    }

    input {
      @extend .form-control;
    }

    .submit-group {
      @extend .d-flex, .justify-content-center;

      button[type="submit"] {
        @extend .bg-success;
      }

      button:last-child {
        @extend .bg-danger;
      }
    }
  }
}

section.game-page{
  h1{
    @extend .display-4, .text-center, .bg-dark, .text-light, .py-3, .mb-4;
  }

  > .card-container{
    @extend .d-flex, .flex-wrap, .align-items-start, .justify-content-center, .gap-4, .text-center;
  
    article {
      @extend .card, .shadow;
      flex-basis: 16rem;
      flex-grow: 1;
      max-width: 350px;
  
      img {
        @extend .w-100, .object-fit-fill;
      }
    }
  }

  dialog {
    @extend .p-0, .w-100, .h-100, .overflow-hidden, .border-0;
    z-index: 2;

    iframe{
      @extend .w-100, .h-100;
    }

    button {
      @extend .fs-2, .bg-danger, .p-0, .px-1;
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

button {
  @extend .btn;
}